* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg)
}

a {
    color: unset;
    text-decoration: none;
}

.gradient__bg {
    /* ff 3.6+ */
        background: -moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 0, 24, 1) 100%);
    
        /* safari 5.1+,chrome 10+ */
        background: -webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 0, 24, 1) 100%);
    
        /* opera 11.10+ */
        background: -o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 0, 24, 1) 100%);
    
        /* ie 10+ */
        background: -ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 0, 24, 1) 100%);
    
        /* global 92%+ browsers support */
        background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 0, 24, 1) 100%);
}

.gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section__padding {
    padding: 4rem 6rem;
}

.section__margin {
    margin: 4rem 6rem;
}

.shadow-pop-tr {
    -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes shadow-pop-tr {
    0% {
        -webkit-box-shadow: 0 0 #10A37F, 0 0 #10A37F, 0 0 #10A37F, 0 0 #10A37F, 0 0 #10A37F, 0 0 #10A37F, 0 0 #10A37F, 0 0 #10A37F;
        box-shadow: 0 0 #10A37F, 0 0 #10A37F, 0 0 #10A37F, 0 0 #10A37F, 0 0 #10A37F, 0 0 #10A37F, 0 0 #10A37F, 0 0 #10A37F;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }

    100% {
        -webkit-box-shadow: 1px -1px #10A37F, 2px -2px #10A37F, 3px -3px #10A37F, 4px -4px #10A37F, 5px -5px #10A37F, 6px -6px #10A37F, 7px -7px #10A37F, 8px -8px #10A37F;
        box-shadow: 1px -1px #10A37F, 2px -2px #10A37F, 3px -3px #10A37F, 4px -4px #10A37F, 5px -5px #10A37F, 6px -6px #10A37F, 7px -7px #10A37F, 8px -8px #10A37F;
        -webkit-transform: translateX(-8px) translateY(8px);
        transform: translateX(-8px) translateY(8px);
    }
}

@keyframes shadow-pop-tr {
    0% {
        -webkit-box-shadow: 0 0 #10A37F, 0 0 #10A37F, 0 0 #10A37F, 0 0 #10A37F, 0 0 #10A37F, 0 0 #10A37F, 0 0 #10A37F, 0 0 #10A37F;
        box-shadow: 0 0 #10A37F, 0 0 #10A37F, 0 0 #10A37F, 0 0 #10A37F, 0 0 #10A37F, 0 0 #10A37F, 0 0 #10A37F, 0 0 #10A37F;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }

    100% {
        -webkit-box-shadow: 1px -1px #10A37F, 2px -2px #10A37F, 3px -3px #10A37F, 4px -4px #10A37F, 5px -5px #10A37F, 6px -6px #10A37F, 7px -7px #10A37F, 8px -8px #10A37F;
        box-shadow: 1px -1px #10A37F, 2px -2px #10A37F, 3px -3px #10A37F, 4px -4px #10A37F, 5px -5px #10A37F, 6px -6px #10A37F, 7px -7px #10A37F, 8px -8px #10A37F;
        -webkit-transform: translateX(-8px) translateY(8px);
        transform: translateX(-8px) translateY(8px);
    }
}
